- Sacar datos luz REAPI por mes (2019-2022): https://apidatos.ree.es/es/datos/mercados/componentes-precio?start_date=2019-01-01T00:00&end_date=2019-01-31T23:59&time_trunc=month&geo_limit=ccaa
    - El precio en españa es el mismo para todos
- Sacar datos gas: https://data.cnmc.es/energia/mercado-mayorista-del-gas-natural/conjuntos-de-datos/evolucion-de-los-precios-por-productos

In [4]:
# Se importa la librería para la llamada a la API
import requests
import pandas as pd

Empezamos por obtener todos los precios del gas de 2019 a 2022

El código de abajo se nos provee para llamar a los datos del gas de 2015 a 202

In [ ]:


# Llamada API para obtener la información del recurso del catálogo de un dataset 
header = {"User-Agent": "Application"} 
url = "https://catalogodatos.cnmc.es/api/3/action/package_search?q=Evolución de los precios por productos MIBGAS" 
r = requests.get(url, headers=header) 

# Obtención del identificador del recurso con los datos del dataset 
datos_catalogo = r.json() 
id_recurso = datos_catalogo["result"]["results"][0]["resources"][0]["id"]; 
# Llamada API para obtener todos los datos del recurso del dataset 
url = "https://catalogodatos.cnmc.es/api/3/action/datastore_search?limit=32000&resource_id="+ id_recurso
r = requests.get(url, headers=header)

datos_dataset = r.json()["result"]["records"]
df_gas = pd.DataFrame(datos_dataset)

,_id,fecha_de_negociacion,producto_de_mibgas,precios_de_los_productos_mibgas
0,1,2015-12-16,Producto diario D+1,19.67
1,2,2015-12-18,Producto diario D+1,19.40
2,3,2015-12-21,Producto intradiario WD,18.55
3,4,2015-12-29,Producto diario D+1,19.25
4,5,2016-01-05,Producto intradiario WD,19.00
...,...,...,...,...
8635,8636,2023-12-29,Producto trimestral Q+3,32.27
8636,8637,2023-12-30,Producto intradiario WD,29.93
8637,8638,2023-12-30,Producto diario D+1,30.11
8638,8639,2023-12-31,Producto intradiario WD,30.41
8639,8640,2023-12-31,Producto diario D+1,30.30

Pasamos a DateTime Y filtramos de 2019 a 2022