# Fase DB
En esta fase vamos a crear la base de datos e insertar nuestras tablas.

In [1]:
# Importación de librerías necesarias para trabajar con bases de datos y DataFrames

# Conexión y manejo de bases de datos PostgreSQL
# -----------------------------------------------------------------------
import psycopg2                                 # Conexión con bases de datos PostgreSQL
from psycopg2 import OperationalError, errorcodes, errors  # Manejo de errores específicos de psycopg2

# Manipulación de DataFrames
# -----------------------------------------------------------------------
import pandas as pd                             # Manipulación y análisis de datos en estructuras DataFrame
import os
import sys
sys.path.append("../")
from src.SupportDB import (
    crear_bd,
    conectarse_a_bd,
    modificar_bd,
    insertar_muchos_datos_bd,
    generar_tupla
)

import dotenv
dotenv.load_dotenv()

True

### Cargamos lo necesario para crear y conectarnos a la base de datos

In [2]:
db = "proyecto5"
user = os.getenv("user")
key = os.getenv("sql")
host = os.getenv("host")
port = os.getenv("port")

### Creamos la base de datos

In [3]:
crear_bd(db,user,key,host,port)

Base de datos 'proyecto5' creada exitosamente.

### Nos conectamos a la base de datos

In [4]:
conexion = conectarse_a_bd(db,user,key,host,port)
cursor = conexion.cursor()

Conectado a la base de datos: proyecto5

# Crear tablas e insertar datos
Ahora crearemos las tablas en el siguiente orden:
- fechas
- combustibles
- categorias
- unidades
- historico_precios

### Tabla fechas
```SQL
    CREATE TABLE fechas (
        id_fecha INT PRIMARY KEY,
        fecha DATE UNIQUE NOT NULL
    );

In [5]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' CREATE TABLE fechas (
            id_fecha INT PRIMARY KEY,
            fecha DATE UNIQUE NOT NULL
        );'''
modificar_bd(conexion,query)

Conectado a la base de datos: proyecto5
Se ha modificado correctamente la base de Datos

### Insertar fechas

In [6]:
df_fechas = pd.read_csv("../datos/05_TablasPreDB/01_tabla_fechas.csv",index_col="Unnamed: 0")
df_fechas.sample()

    index       fecha
17     18  2020-06-01

In [7]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' INSERT INTO fechas(id_fecha,fecha) VALUES (%s,%s)'''
insertar_muchos_datos_bd(conexion,query,generar_tupla(df_fechas))

Conectado a la base de datos: proyecto5
Se han añadido los valores correctamente

### Tabla combustibles
```SQL
    CREATE TABLE combustibles (
        id_combustible INT PRIMARY KEY,
        combustible VARCHAR UNIQUE NOT NULL
    );

In [8]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' CREATE TABLE combustibles (
            id_combustible INT PRIMARY KEY,
            combustible VARCHAR UNIQUE NOT NULL
        );'''
modificar_bd(conexion,query)

Conectado a la base de datos: proyecto5
Se ha modificado correctamente la base de Datos

### Insertar combustibles

In [9]:
df_combustible = pd.read_csv("../datos/05_TablasPreDB/02_tabla_combustibles.csv",index_col="Unnamed: 0")
df_combustible

   index     combustible
0      1             NaN
1      2     Gasolina 95
2      3     Gasolina 98
3      4          Diésel
4      5  Diésel Premium

In [10]:
df_combustible.fillna("N/A",inplace=True)

In [11]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' INSERT INTO combustibles(id_combustible,combustible) VALUES (%s,%s)'''
insertar_muchos_datos_bd(conexion,query,generar_tupla(df_combustible))

Conectado a la base de datos: proyecto5
Se han añadido los valores correctamente

### Tabla categorías
```SQL
    CREATE TABLE categorias (
        id_categoria INT PRIMARY KEY,
        categoria VARCHAR UNIQUE NOT NULL
    );

In [12]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' CREATE TABLE categorias (
            id_categoria INT PRIMARY KEY,
            categoria VARCHAR UNIQUE NOT NULL
        );'''
modificar_bd(conexion,query)

Conectado a la base de datos: proyecto5
Se ha modificado correctamente la base de Datos

### Insertar categorías

In [13]:
df_categorias = pd.read_csv("../datos/05_TablasPreDB/03_tabla_categorias.csv", index_col="Unnamed: 0")
df_categorias

   index    categoria
0      1          luz
1      2          gas
2      3  combustible
3      4         agua

In [14]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' INSERT INTO categorias(id_categoria,categoria) VALUES (%s,%s)'''
insertar_muchos_datos_bd(conexion,query,generar_tupla(df_categorias))

Conectado a la base de datos: proyecto5
Se han añadido los valores correctamente

### Tabla unidades
```SQL
    CREATE TABLE unidades (
        id_unidad INT PRIMARY KEY,
        unidad VARCHAR UNIQUE NOT NULL
    );

In [15]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' CREATE TABLE unidades (
            id_unidad INT PRIMARY KEY,
            unidad VARCHAR UNIQUE NOT NULL
            );'''
modificar_bd(conexion,query)

Conectado a la base de datos: proyecto5
Se ha modificado correctamente la base de Datos

### Insertar unidades

In [16]:
df_unidades = pd.read_csv("../datos/05_TablasPreDB/04_tabla_unidades.csv",index_col="Unnamed: 0")
df_unidades

   index unidad
0      1    €/L
1      2   €/m3
2      3  €/MWh

In [17]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' INSERT INTO unidades(id_unidad,unidad) VALUES (%s,%s)'''
insertar_muchos_datos_bd(conexion,query,generar_tupla(df_unidades))

Conectado a la base de datos: proyecto5
Se han añadido los valores correctamente

### Tabla historico_precios
```SQL
    CREATE TABLE historico_precios (
        id_precio INT PRIMARY KEY,
        id_categoria INT REFERENCES categorias(id_categoria),
        id_combustible INT REFERENCES combustibles(id_combustible),
        precio FLOAT NOT NULL,
        id_unidad INT REFERENCES unidades(id_unidad),
        id_fecha INT REFERENCES fechas(id_fecha)
    );

In [18]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' CREATE TABLE historico_precios (
            id_precio INT PRIMARY KEY,
            id_categoria INT REFERENCES categorias(id_categoria),
            id_combustible INT REFERENCES combustibles(id_combustible),
            precio FLOAT NOT NULL,
            id_unidad INT REFERENCES unidades(id_unidad),
            id_fecha INT REFERENCES fechas(id_fecha)
        );'''
modificar_bd(conexion,query)

Conectado a la base de datos: proyecto5
Se ha modificado correctamente la base de Datos

### Insertar valores

In [19]:
df_historicos = pd.read_csv("../datos/05_TablasPreDB/05_tabla_historicos.csv", index_col="Unnamed: 0")
df_historicos.sample()

     index  categoria  combustible    precio  unidad  fecha
147    148          3            3  1.349658       1     22

In [28]:
conexion = conectarse_a_bd(db,user,key,host,port)
query = ''' INSERT INTO historico_precios(id_precio,id_categoria,id_combustible,precio,id_unidad,id_fecha)
            VALUES (%s,%s,%s,%s,%s,%s)'''
tupla_historicos = list(df_historicos.itertuples(index=False, name= None))
insertar_muchos_datos_bd(conexion,query,tupla_historicos)

Conectado a la base de datos: proyecto5
Se han añadido los valores correctamente